.sale-row {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.sale {
  color: #b12704;
  font-size: 22px;
  font-weight: 700;
}

.off {
  color: #cc0c39;
  font-weight: 700;
  font-size: 14px;
}
